/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(253.37,255,244.37,1);
}

#button {
	top: 33px;
	left: 920px;
	width: 206px;
	height: 57px;
}

#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 206px;
	height: 57px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(190,227,220,1);
}

#button_ek1 {
	top: 33px;
	left: 1164px;
	width: 206px;
	height: 57px;
}

#rectangle_1_ek1 {
	top: 0px;
	left: 0px;
	width: 206px;
	height: 57px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(190,227,220,1);
}

#button_ek2 {
	top: 33px;
	left: 920px;
	width: 206px;
	height: 57px;
}

#rectangle_1_ek2 {
	top: 0px;
	left: 0px;
	width: 206px;
	height: 57px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(190,227,220,1);
}


#_login {
	top: 43px;
	left: 1228px;
	width: 113px;
	height: 57px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#sign_up {
	top: 43px;
	left: 967px;
	width: 147px;
	height: 57px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#db_continental_hotel {
	top: 43px;
	left: 65px;
	width: 537px;
	height: 96px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-style: italic;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
